################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DatingApp.API/.vscode
/DatingApp.API/bin/Debug/netcoreapp3.0
/DatingApp.API/obj
/.vscode