<div class="container">
  <div class="row">
    <!-- Grid means 12 columns, 
      on large device each column will take up 2 grids so 6 columns
      on medium device each column will take up 3 grids so 4 columns,
      on small device each column will take up 6 grids so 2 columns
       -->
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <!-- We pass the user object down into our member card component -->
      <app-member-card [user]="user"></app-member-card>
    </div> 
  </div>
</div>